In [2]:
%matplotlib inline
import pandas as pd
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
matplotlib.style.use('ggplot')

In [3]:
df_gtd = pd.read_csv('gtd_0615dist/globalterrorismdb_0615dist.csv')

C:\Users\Keshav\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (4,6,13,31,33,53,61,62,63,75,78,91,93,95,113,114,120) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
len(df_gtd)

141966

In [5]:
df_gtd.columns

Index([u'eventid', u'iyear', u'imonth', u'iday', u'approxdate', u'extended',
       u'resolution', u'country', u'country_txt', u'region',
       ...
       u'addnotes', u'scite1', u'scite2', u'scite3', u'dbsource', u'INT_LOG',
       u'INT_IDEO', u'INT_MISC', u'INT_ANY', u'related'],
      dtype='object', length=134)

In [6]:
len(df_gtd.columns)

134

In [7]:
df_gtd.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,0,0,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [8]:
df_gtd.dtypes.value_counts()

object     59
float64    52
int64      23
dtype: int64

In [9]:
#Remove Event ID
df_gtd = df_gtd.drop('eventid', 1)

In [10]:
#Remove Approxdate
print sum(df_gtd.approxdate.notnull()) / float(len(df_gtd)) 
df_gtd = df_gtd.drop('approxdate', 1)

0.0202513277827

In [11]:
#Remove Resolution
print sum(df_gtd.resolution.notnull()) / float(len(df_gtd)) 
df_gtd = df_gtd.drop('resolution', 1)

0.0155671076173

In [12]:
#Remove Extended
print sum(df_gtd.extended) / float(len(df_gtd))
df_gtd = df_gtd.drop('extended', 1)

0.038466956877

In [13]:
group_crit12 = lambda df: 1 if df.crit1 == 1 and df.crit2 == 1 else 0
df_gtd['crit1andcrit2'] = df_gtd.apply(group_crit12,axis=1)

In [14]:
group_crit23 = lambda df: 1 if df.crit2 == 1 and df.crit3 == 1 else 0
df_gtd['crit2andcrit3'] = df_gtd.apply(group_crit23,axis=1)

In [15]:
group_crit13 = lambda df: 1 if df.crit1 == 1 and df.crit3 == 1 else 0
df_gtd['crit1andcrit3'] = df_gtd.apply(group_crit13,axis=1)

In [16]:
group_crit123 = lambda df: 1 if df.crit1 == 1 and df.crit2 == 1 and df.crit3 == 1 else 0
df_gtd['crit1andcrit2crit3'] = df_gtd.apply(group_crit123,axis=1)

In [17]:
df_gtd = df_gtd.drop('crit1',1)
df_gtd = df_gtd.drop('crit2',1)
df_gtd = df_gtd.drop('crit3',1)

In [18]:
df_gtd.columns

Index([u'iyear', u'imonth', u'iday', u'country', u'country_txt', u'region',
       u'region_txt', u'provstate', u'city', u'latitude',
       ...
       u'dbsource', u'INT_LOG', u'INT_IDEO', u'INT_MISC', u'INT_ANY',
       u'related', u'crit1andcrit2', u'crit2andcrit3', u'crit1andcrit3',
       u'crit1andcrit2crit3'],
      dtype='object', length=131)

In [19]:
group_doubterr_alternative = lambda df: 0 if df.doubtterr == 0 else -9 if df.doubtterr == -9 else df.alternative

In [20]:
df_gtd['doubtterr_alternative'] = df_gtd.apply(group_doubterr_alternative,axis=1)

In [21]:
df_gtd.doubtterr_alternative.value_counts()

 0    106653
 1     16985
-9     13796
 2      3281
 3      1047
 4       105
 5        99
Name: doubtterr_alternative, dtype: int64

In [22]:
df_gtd = df_gtd.drop('doubtterr',1)
df_gtd = df_gtd.drop('alternative',1)

In [23]:
df_gtd.columns

Index([u'iyear', u'imonth', u'iday', u'country', u'country_txt', u'region',
       u'region_txt', u'provstate', u'city', u'latitude',
       ...
       u'INT_LOG', u'INT_IDEO', u'INT_MISC', u'INT_ANY', u'related',
       u'crit1andcrit2', u'crit2andcrit3', u'crit1andcrit3',
       u'crit1andcrit2crit3', u'doubtterr_alternative'],
      dtype='object', length=130)

In [24]:
df_gtd[df_gtd.columns[3:5]].head()

   country         country_txt
0       58  Dominican Republic
1      130              Mexico
2      160         Philippines
3       78              Greece
4      101               Japan

In [25]:
#Remove Country Text
df_gtd = df_gtd.drop('country_txt',1)

In [26]:
df_gtd[df_gtd.columns[4:6]]
#Remove Region Text
df_gtd = df_gtd.drop('region_txt',1)

In [27]:
df_gtd = df_gtd.drop('alternative_txt',1)

In [28]:
df_gtd = df_gtd.drop('attacktype1_txt',1)
df_gtd = df_gtd.drop('attacktype2',1)
df_gtd = df_gtd.drop('attacktype2_txt',1)
df_gtd = df_gtd.drop('attacktype3_txt',1)
df_gtd = df_gtd.drop('attacktype3',1)

In [29]:
df_gtd = df_gtd.drop('targtype1_txt',1)
df_gtd = df_gtd.drop('targsubtype1_txt',1)
df_gtd = df_gtd.drop('natlty1_txt',1)
df_gtd = df_gtd.drop('targtype2_txt',1)
df_gtd = df_gtd.drop('targsubtype2_txt',1)
df_gtd = df_gtd.drop('natlty2_txt',1)
df_gtd = df_gtd.drop('targtype3_txt',1)
df_gtd = df_gtd.drop('targsubtype3_txt',1)
df_gtd = df_gtd.drop('natlty3_txt',1)

In [30]:
df_gtd = df_gtd.drop('weaptype1_txt',1)
df_gtd = df_gtd.drop('weapsubtype1_txt',1)
df_gtd = df_gtd.drop('weaptype2_txt',1)
df_gtd = df_gtd.drop('weapsubtype2_txt',1)
df_gtd = df_gtd.drop('weaptype3_txt',1)
df_gtd = df_gtd.drop('weapsubtype3_txt',1)
df_gtd = df_gtd.drop('weaptype4_txt',1)
df_gtd = df_gtd.drop('weapsubtype4_txt',1)

In [31]:
df_gtd = df_gtd.drop('propextent_txt',1)
df_gtd = df_gtd.drop('hostkidoutcome_txt',1)

In [32]:
#[(col, sum(df_gtd[col].notnull())/float(len(df_gtd)) * 100) for col in df_gtd.columns]
for col in df_gtd.columns:
    rate = sum(df_gtd[col].notnull())/float(len(df_gtd)) * 100
    if rate < 1:
        df_gtd = df_gtd.drop(col,1)

In [33]:
df_gtd = df_gtd.drop('claimmode_txt',1)

In [34]:
df_gtd.columns

Index([u'iyear', u'imonth', u'iday', u'country', u'region', u'provstate',
       u'city', u'latitude', u'longitude', u'specificity', u'vicinity',
       u'location', u'summary', u'multiple', u'success', u'suicide',
       u'attacktype1', u'targtype1', u'targsubtype1', u'corp1', u'target1',
       u'natlty1', u'targtype2', u'targsubtype2', u'corp2', u'target2',
       u'natlty2', u'gname', u'gsubname', u'motive', u'guncertain1', u'nperps',
       u'nperpcap', u'claimed', u'claimmode', u'compclaim', u'weaptype1',
       u'weapsubtype1', u'weaptype2', u'weapsubtype2', u'weaptype3',
       u'weaptype4', u'weapdetail', u'nkill', u'nkillus', u'nkillter',
       u'nwound', u'nwoundus', u'nwoundte', u'property', u'propextent',
       u'propvalue', u'propcomment', u'ishostkid', u'nhostkid', u'nhostkidus',
       u'nhours', u'ndays', u'kidhijcountry', u'ransom', u'hostkidoutcome',
       u'nreleased', u'addnotes', u'scite1', u'scite2', u'scite3', u'dbsource',
       u'INT_LOG', u'INT_IDEO', u'INT_MISC', u'INT_ANY', u'related',
       u'crit1andcrit2', u'crit2andcrit3', u'crit1andcrit3',
       u'crit1andcrit2crit3', u'doubtterr_alternative'],
      dtype='object')

In [36]:
len(df_gtd.columns)

77

In [37]:
df_gtd = df_gtd.drop('dbsource',1)
df_gtd = df_gtd.drop('INT_LOG',1)
df_gtd = df_gtd.drop('INT_IDEO',1)
df_gtd = df_gtd.drop('INT_MISC',1)
df_gtd = df_gtd.drop('INT_ANY',1)

In [38]:
df_gtd = df_gtd.drop('weapdetail',1)

In [39]:
df_gtd = df_gtd.drop('corp1',1)

In [40]:
#remove location and latitude too
df_gtd = df_gtd.drop('latitude',1)
df_gtd = df_gtd.drop('location',1)
df_gtd = df_gtd.drop('longitude',1)
df_gtd = df_gtd.drop('provstate',1)
df_gtd = df_gtd.drop('city',1)

In [41]:
df_gtd = df_gtd.drop('target1',1)

In [42]:
df_gtd = df_gtd.drop('specificity',1)

In [43]:
for col in df_gtd.columns:
    rate = sum(df_gtd[col].notnull())/float(len(df_gtd)) * 100
    if rate <= 20:
        df_gtd = df_gtd.drop(col,1)

In [46]:
df_gtd = df_gtd.drop('propcomment',1)
df_gtd = df_gtd.drop('propextent',1)
df_gtd = df_gtd.drop('nwoundte',1)
df_gtd = df_gtd.drop('nwoundus',1)
df_gtd = df_gtd.drop('nkillus',1)
df_gtd = df_gtd.drop('nkillter',1)
df_gtd = df_gtd.drop('scite1',1)
df_gtd = df_gtd.drop('scite2',1)
df_gtd = df_gtd.drop('scite3',1)
df_gtd = df_gtd.drop('motive',1)
df_gtd = df_gtd.drop('summary',1)

In [47]:
len(df_gtd.columns)

30

In [48]:
import pandas as pd
import numpy as np

from sklearn.base import TransformerMixin

class DataFrameImputer(TransformerMixin):

    def __init__(self):
        """Impute missing values.

        Columns of dtype object are imputed with the most frequent value 
        in column.

        Columns of other types are imputed with mean of column.

        """
    def fit(self, X, y=None):

        self.fill = pd.Series([X[c].value_counts().index[0]
            if X[c].dtype == np.dtype('O') else X[c].median() for c in X],
            index=X.columns)

        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

In [50]:
#Pickle df_gtd
df_gtd.to_pickle('df_gtd.pkl')

In [51]:
df_gtd_imp = DataFrameImputer().fit_transform(df_gtd)

In [52]:
df_test = df_gtd_imp.query("gname == 'Unknown'")

In [53]:
df_test = df_test.drop('gname',1)

In [54]:
df_train = df_gtd_imp.query("gname != 'Unknown'")
df_train_x = pd.DataFrame(df_train)
df_train_x = df_train_x.drop('gname',1)

In [55]:
df_train_y = df_train.gname

In [56]:
df_train_x.shape

(76304, 29)

In [57]:
df_train_y.shape

(76304L,)

In [58]:
df_test.shape

(65662, 29)

In [59]:
%install_ext https://raw.github.com/cpcloud/ipython-autotime/master/autotime.py
%load_ext autotime

Installed autotime.py. To use it, type:
  %load_ext autotime

C:\Users\Keshav\Anaconda\lib\site-packages\IPython\core\magics\extension.py:47: UserWarning: %install_ext` is deprecated, please distribute your extension(s)as a python packages.
  "as a python packages.", UserWarning)

In [60]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf = clf.fit(df_train_x, df_train_y)

time: 46.3 s

In [61]:
from sklearn.ensemble import RandomForestClassifier
clf1 = RandomForestClassifier(n_estimators=10)
clf1 = clf.fit(df_train_x, df_train_y)

time: 43.9 s

In [62]:
for index_feature, feature_rank in enumerate(list(clf.feature_importances_)):
        print (df_train_x.columns[index_feature], feature_rank)

('iyear', 0.18236676983594544)
('imonth', 0.064771941692499641)
('iday', 0.071856063747591167)
('country', 0.320743264282284)
('region', 0.049847680252021222)
('vicinity', 0.0041767590727185598)
('multiple', 0.011691019316710311)
('success', 0.0048441582310846795)
('suicide', 0.00086612829107892634)
('attacktype1', 0.018419417466829072)
('targtype1', 0.023429196288781567)
('targsubtype1', 0.052540739787049366)
('natlty1', 0.020399626833751305)
('guncertain1', 0.010628067601790787)
('nperps', 0.017313299700745945)
('nperpcap', 0.0046669788233821069)
('claimed', 0.0082194313961922796)
('weaptype1', 0.011767088223628574)
('weapsubtype1', 0.02960560017793706)
('nkill', 0.026422418219188542)
('nwound', 0.019485360137038363)
('property', 0.011846444440112095)
('ishostkid', 0.0038473711557769474)
('ransom', 0.0026409279568702462)
('crit1andcrit2', 0.0013425630419278507)
('crit2andcrit3', 0.0021122868558849659)
('crit1andcrit3', 0.0024149532935143752)
('crit1andcrit2crit3', 0.0021931913480422961)
('doubtterr_alternative', 0.019541252529622237)
time: 39 ms

In [63]:
len(df_train_x.columns)

29

time: 8 ms

In [64]:
perc_val = np.percentile(clf.feature_importances_,50)

time: 17 ms

In [65]:
index_relevant_features = list()
for index_feature, feature_rank in enumerate(list(clf.feature_importances_)):
        if feature_rank >= perc_val:
            print (df_train_x.columns[index_feature], feature_rank)
            index_relevant_features.append(index_feature)

('iyear', 0.18236676983594544)
('imonth', 0.064771941692499641)
('iday', 0.071856063747591167)
('country', 0.320743264282284)
('region', 0.049847680252021222)
('attacktype1', 0.018419417466829072)
('targtype1', 0.023429196288781567)
('targsubtype1', 0.052540739787049366)
('natlty1', 0.020399626833751305)
('nperps', 0.017313299700745945)
('weapsubtype1', 0.02960560017793706)
('nkill', 0.026422418219188542)
('nwound', 0.019485360137038363)
('property', 0.011846444440112095)
('doubtterr_alternative', 0.019541252529622237)
time: 17 ms

In [66]:
df_train_x = pd.DataFrame(df_train_x[df_train_x.columns[index_relevant_features]])

time: 148 ms

In [67]:
df_train_x.columns

Index([u'iyear', u'imonth', u'iday', u'country', u'region', u'attacktype1',
       u'targtype1', u'targsubtype1', u'natlty1', u'nperps', u'weapsubtype1',
       u'nkill', u'nwound', u'property', u'doubtterr_alternative'],
      dtype='object')

time: 33 ms

In [68]:
df_train_x.shape

(76304, 15)

time: 9 ms

In [69]:
df_train_y.shape

(76304L,)

time: 9 ms

In [70]:
df_test = df_test[df_test.columns[index_relevant_features]]

time: 92 ms

In [71]:
df_test.shape

(65662, 15)

time: 8 ms

In [72]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf = clf.fit(df_train_x, df_train_y)

time: 32.1 s

In [73]:
from sklearn.ensemble import RandomForestClassifier
clf1 = RandomForestClassifier(n_estimators=10)
clf1 = clf.fit(df_train_x, df_train_y)

time: 29.3 s

In [74]:
clf.feature_importances_

array([ 0.18783469,  0.07284545,  0.08116465,  0.3079187 ,  0.06362919,
        0.02504241,  0.02735219,  0.06197348,  0.02188104,  0.0196428 ,
        0.03944922,  0.02978456,  0.0232386 ,  0.01420177,  0.02404127])

time: 104 ms

In [75]:
clf.score(df_train_x,df_train_y)

0.99802107360033554

time: 6.64 s

In [76]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()

time: 9 ms

In [78]:
from sklearn import cross_validation
X_train, X_test, y_train, y_test = cross_validation.train_test_split(df_train_x, df_train_y, test_size=0.4, random_state=0)
print X_train.shape, y_train.shape
print X_test.shape, y_test.shape
clf = clf.fit(X_train, y_train)
print clf.score(X_test, y_test)

(45782, 15) (45782L,)
(30522, 15) (30522L,)
0.665323373305
time: 19 s

In [79]:
from sklearn import cross_validation
clf = DecisionTreeClassifier()
scores = cross_validation.cross_val_score(clf, df_train_x,df_train_y, cv=10)

time: 8min 11s

C:\Users\Keshav\Anaconda\lib\site-packages\sklearn\cross_validation.py:516: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of labels for any class cannot be less than n_folds=10.
  % (min_labels, self.n_folds)), Warning)

In [80]:
scores

array([ 0.16494639,  0.48581008,  0.51624411,  0.4614469 ,  0.51408069,
        0.52765487,  0.57634016,  0.54858934,  0.51001874,  0.37683904])

time: 33 ms

In [81]:
from sklearn.ensemble import RandomForestClassifier
clf1 = RandomForestClassifier(n_estimators=10)
X_train, X_test, y_train, y_test = cross_validation.train_test_split(df_train_x, df_train_y, test_size=0.4, random_state=0)
print X_train.shape, y_train.shape
print X_test.shape, y_test.shape
clf1 = clf1.fit(X_train, y_train)
print clf1.score(X_test, y_test)

(45782, 15) (45782L,)
(30522, 15) (30522L,)
0.697890046524
time: 2min 10s

In [83]:
df_gtd_imp.to_pickle('df_gtd_imp.pkl')

time: 871 ms

In [84]:
df_test.to_pickle('df_test.pkl')
df_train.to_pickle('df_train.pkl')
df_train_x.to_pickle('df_train_x.pkl')
df_train_y.to_pickle('df_train_y.pkl')

time: 1.16 s

In [85]:
from sklearn import cross_validation
clf1 = RandomForestClassifier(n_estimators=10)
scores = cross_validation.cross_val_score(clf1, df_train_x,df_train_y, cv=10)
print scores

[ 0.30594248  0.59094719  0.6203338   0.63801085  0.65651232  0.67104535
  0.68874544  0.6831006   0.67233674  0.52643846]
time: 25min 56s

In [89]:
scores.mean()

0.60534132299829246

time: 9 ms